{% load static %}
<!doctype html>
<html lang="it-IT">

<script src="{% static 'js/utils.js' %}"></script>

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <meta charset="utf-8" />
    <title>Ricette</title>
</head>

<body>
    {% include 'ricette/header.html' with page="home" %}
    <div class="container-fluid">
        <div class="row mt-4">
            {% if '/modifica/' in request.path %}
                <h3>Modifica Ricetta</h3>
            {% else %}    
                <h3>Aggiungi Ricetta</h3>
            {% endif %}
        </div>

        <div class="row mt-4">
            <form id="form-container" method="post" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row col-12">
                    {% for field in ricetta_form %}
                    <div class="fieldWrapper col-4">
                        {{ field.label_tag }} {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div>
                        <button class="float-start btn btn-success my-4" type="button" id="add-ingrediente">Aggiungi Ingrediente</button>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table id="ingredienti-table" class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Ingrediente</th>
                                    <th scope="col">Dosaggio</th>
                                    <th scope="col">Zuccheri</th>
                                    <th scope="col">Grassi</th>
                                    <th scope="col">S.I.n.g</th>
                                    <th scope="col">Altri solidi</th>
                                    <th scope="col">Acqua</th>
                                    <th scope="col">Costo</th>
                                </tr>
                            </thead>
                            <tbody id="miscela-body">
                                {{ formset.management_form }}
                                {% for form in miscela_form %}
                                <tr class="miscela-row">
                                    {% for hidden in forms.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    <td class="sel-ingrediente">{{ form.ingrediente }}</td>
                                    <td class="inp-dosaggio">{{ form.dosaggio }}</td>
                                    <td id="id_form-{{forloop.counter0}}-zuccheri"></td>
                                    <td id="id_form-{{forloop.counter0}}-grassi"></td>
                                    <td id="id_form-{{forloop.counter0}}-SIng"></td>
                                    <td id="id_form-{{forloop.counter0}}-altri-solidi"></td>
                                    <td id="id_form-{{forloop.counter0}}-acqua"></td>
                                    <td id="id_form-{{forloop.counter0}}-costo"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th scope="row">Totale</th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                            </table>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary my-4 float-end" type="submit">Salva</button>
                </div>
                <input type="hidden" name="form-TOTAL_FORMS" value="1" id="id_form-TOTAL_FORMS">
                <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
                <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
                <input type="hidden" name="form-MAX_NUM_FORMS" value="20" id="id_form-MAX_NUM_FORMS">
            </form>
        </div>

    </div>

</body>

</html>