{% load static %}
<!doctype html>
<html lang="it-IT">

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <meta charset="utf-8" />
    <title>Ingredienti</title>
</head>

<body>
    <div class="container">
        <div class="row mt-2">
            <h3>{{ingrediente.descrizione}}</h3>
        </div>

        <!-- <div class="row mt-2">
            <div>
                {% if ingredienti %}
                <ul class="list-group">
                    {% for ingrediente in ingredienti %}
                    <li class="list-group-item list-group-item-action"><a href="/ricette/{{ ingrediente.codice }}/">{{ingrediente.codice}} - {{ingrediente.descrizione}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Nessun ingrediente inserito.</p>
                {% endif %}
            </div>
        </div> -->
        
    </div>

</body>

</html>