{% load static %}
<!doctype html>
<html lang="it-IT">

<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <meta charset="utf-8" />
    <title>Ricette</title>
</head>

<body>
    {% include 'ricette/header.html' with page="home"%} 
    <div class="container-fluid">
        <div class="row mt-4">
            <h3>Ricette</h3>
        </div>
        <div class="d-flex mt-2 mb-4">
            <a class="btn btn-primary float-end" href="/ricette/aggiungi/" role="button">Aggiungi Ricetta</a>
        </div>

        <div class="row mt-2">
            <div>
                {% if ricette %}
                <ul class="list-group">
                    {% for ricetta in ricette %}
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex">
                            <a href="/ricette/modifica/{{ ricetta.codice }}">{{ricetta.codice}} - {{ricetta.descrizione}}</a>
                            <div class="ms-auto">
                                <form action="{% url 'elimina_ricetta' codice=ricetta.codice %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="submit">x</i></button>
                                </form>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>Nessuna ricetta inserita.</p>
                {% endif %}
            </div>
        </div>
        
    </div>

</body>

</html>